.my-logo-item {
    position: relative;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.my-logo-item .my-logo-item__card {
    position: relative;
}
.my-logo-item__img-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    min-height: 100px;
}
.my-logo-item .my-logo-item__img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    width: 100%;
    height: auto;
}
.my-logo-item .my-logo-item__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.5);
    top: 0;
    left: 0;
    opacity: 0;
    padding: 15px 25px;
    transition: all .4s ease-in-out;
}
.my-logo-item:hover .my-logo-item__overlay {
    opacity: 1;
}
.my-logo-item  .my-logo-item__footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my-logo-item .my-logo-item__name {
    font-family: inherit;
    font-size: 18px;
    line-height: 27px;
}
.my-logo-item .my-logo-item__mark {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #FB9678;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    padding-right: 15px;
    z-index: 10;
}
.my-logo-item .my-logo-item__mark:after,
.my-logo-item .my-logo-item__mark:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -10px;
    width: 30px;
    height: 15px;
    background-color: #FB9678;
    transform: skew(45deg);
    z-index: -1;
}
.my-logo-item .my-logo-item__mark:before {
    top: auto;
    bottom: 0;
    transform: skew(-45deg);
}
.my-logo-item .my-logo-item__mark.my-logo-item__mark--show {
    display: flex;
}
